<%= form_with(model: stock_price, local: true) do |form| %>
  <% if stock_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_price.errors.count, "error") %> prohibited this stock_price from being saved:</h2>

      <ul>
      <% stock_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, id: :stock_price_symbol %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :stock_price_date %>
  </div>

  <div class="field">
    <%= form.label :open %>
    <%= form.text_field :open, id: :stock_price_open %>
  </div>

  <div class="field">
    <%= form.label :high %>
    <%= form.text_field :high, id: :stock_price_high %>
  </div>

  <div class="field">
    <%= form.label :low %>
    <%= form.text_field :low, id: :stock_price_low %>
  </div>

  <div class="field">
    <%= form.label :close %>
    <%= form.text_field :close, id: :stock_price_close %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.number_field :volume, id: :stock_price_volume %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
