<p id="notice"><%= notice %></p>

<h1>Stock Prices</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </thead>

  <tbody>
    <% @stock_prices.each do |stock_price| %>
      <tr>
        <td><%= stock_price.symbol %></td>
        <td><%= stock_price.date %></td>
        <td><%= number_to_currency stock_price.open %></td>
        <td><%= number_to_currency stock_price.high %></td>
        <td><%= number_to_currency stock_price.low %></td>
        <td><%= number_to_currency stock_price.close %></td>
        <td><%= number_to_human stock_price.volume %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Price', new_stock_price_path %>
