<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @stock_price.symbol %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stock_price.date %>
</p>

<p>
  <strong>Open:</strong>
  <%= @stock_price.open %>
</p>

<p>
  <strong>High:</strong>
  <%= @stock_price.high %>
</p>

<p>
  <strong>Low:</strong>
  <%= @stock_price.low %>
</p>

<p>
  <strong>Close:</strong>
  <%= @stock_price.close %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @stock_price.volume %>
</p>

<%= link_to 'Edit', edit_stock_price_path(@stock_price) %> |
<%= link_to 'Back', stock_prices_path %>
